* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Rubik, sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: transparent;
}

.header {
    background-color: #0a61f7;
    padding: 14px 0
}

.container {
    height: 100%;
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;

}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.menu{
    display: flex;
    gap: 24px;
}

.menu-item {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66667;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #fff;
}
.main-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 800px;
}

.main-title {
    font-weight: 500;
    font-size: 58px;
    line-height: 1.1;
    color: #363940;
    margin-bottom: 30px;

}

.main .text {
    margin-bottom: 40px;
    max-width: 380px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.3;
    color: #95a1bb;
}
.main-img{
    align-self: flex-end;
}

.btn {
    width: 152px;
    height: 50px;
    border-radius: 4px;
    background: #0a61f7;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.rates-section {
    padding: 100px 0;
    background: #f9fafc;
}

.rates-section .title {
    margin-bottom: 20px;
}

.rates-section .text {
    margin-bottom: 40px;
}

.title {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.3;
    color: #363940;
    list-style-image: url(./assets/images/Check.svg);
    margin-left: 30px;
}

.table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid #95a1bb;
    width: 241px;
    padding: 15px 0;
    text-align: center;
}

.table-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    color: #363940;
}

.table-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22222;
    color: #363940;
}

.table-link {
    color: #95a1bb;
}

.table-btn {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    text-align: center;
    color: #0a61f7;
    border: 1px solid #0a61f7;
    border-radius: 4px;
    padding: 8px 0;
}

.table-subtitle.gray {
    color: #95a1bb;
}

.table-btn.active {
    background: #0a61f7;
    color: #fff
}

.table-footer td {
    padding: 30px 0;
}

.create-account-section {
    padding: 100px 0;
}

.list-item {
    list-style-image: url(./assets/images/Check.svg);
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}

.create-account-section {
    padding: 100px 0;
}

.create-account-section .title {
    margin-bottom: 50px;
}

.create-account-section .text {
    margin-bottom: 40px;
    max-width: 500px;
}

.list-item {
    list-style: url("./assets/images/Check.svg");
    margin-left: 30px;
    margin-bottom: 15px;
    color: #363940;
}

form {
    width: 100%;
    max-width: 500px;
}

input, select, fieldset, textarea {
    border: 1px solid #95a1bb;
    border-radius: 4px;
    padding: 14px 15px;
}

input, select, fieldset, textarea, label, legend, input::placeholder, select::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    color: #95a1bb;
    font-family: inherit;
}

input[type="text"] {
    width: 100%;
}

input[type="email"], input[type="password"], input[type="date"], select {
    width: 230px;
    height: 50px;
}

fieldset {
    width: 100%;
    padding: 30px 20px;
}

textarea {
    width: 100%;
    min-height: 80px;
    resize: none;
}

form .button {
    width: 100%;
}

select {
    background: url(./assets/images/Arrow-down.svg) no-repeat right 15px top 50%;
    appearance: none;
}

input[type=text]::-webkit-calendar-picker-indicator {
    background: url(./assets/images/Calendar.svg);
}

input > label {
    background: url(./assets/images/checkbox.png) no-repeat;
    appearance: none;
}

input > label:hover {
    background: url(./assets/images/Icon.png);

}

.footer {
    background-color: #0A61F7;
    text-align: center;
    padding: 20px 0;
}

small {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #FFF;
}